*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background:#f3f4f6;
    padding:30px;
    display:flex;
    flex-direction:column;
    align-items:center;
}

h1{
    margin-bottom:18px;
    font-size: 26px;
}

.inputbox{
    background:#ffffff;
    padding:16px;
    border-radius: 10px;
    box-shadow:0 4px 14px rgba(0,0,0,0.08);
    display: flex;
    flex-direction: column;
    gap: 10px;
    width:500px;
    transition:box-shadow 0.2s ease;
}

.inputbox:hover{
  box-shadow:0 6px 18px rgba(0,0,0,0.12);
}

.inputbox input{
 padding:10px;
 border:2px solid #d0d4da;
 border-radius: 8px;
 font-size: 15px;
 background:#f9fafb;
 transition: all 0.2s ease;
}
.inputbox input:focus {
    border-color:#3b82f6;
    background: #ffffff;
    box-shadow: 0 0 0 2px rgba(59,130,246,0.15);
}

#addBtn{
    padding: 10px;
    border:none;
    border-radius: 8px ;
    background:#6366f1;
    color:white;
    font-size:15px;
    cursor: pointer;
}

#addBtn:disabled{
    background: #a5b4fc;
    cursor:not-allowed;
}

#bookmarkList{
 margin-top:25px;
 width: 90%;
 display: grid;
 grid-template-columns: repeat(auto-fill,minmax(100px,1fr));
 gap:18px;
 justify-items:center;
}
.bookmark-card{
    width:100px;
    height: 100px;
    background:white;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.10);
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    padding:8px;
    transition: 0.25s;
    position:relative;
    cursor: pointer;
}
.bookmark-card:hover{
    transform:translateY(-3px);
    box-shadow:0 5px 14px rgba(0,0,0,0.15);
    
}

.icon{
    width:34px;
    height:34px;
    margin-bottom: 6px;
}

.bookmark-card span{
    font-size:12px;
    font-weight:600;
    text-align:center;
    color:#333;
}

.deleteBtn{
    position:absolute;
    top:5px;
    right:5px;
    width:18px;
    height:18px;
    border:none;
    border-radius: 50%;
    background:#ef4444;
    color:white;
    font-size: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}