*{
    box-sizing:border-box;
}
body{
 margin:0;
}
header{
    background-color: lightblue;
    text-align: center;
    padding: 10px;
}
.navbar{
    background-color: rgba(0, 0, 0, 0.866);
    text-align: center;
    padding: 20px;
}
.sidebar{
    background-color: lightgrey;
    float: left;
    padding: 20px;
}
.content{
    background-color: white;
    margin-left: 200px;
    padding: 20px;
}
.article{
    background-color: lightyellow;
    margin-left: 200px;
    padding: 20px;
}
footer{
    display: block;
    clear: both ;
    background-color: lightblue;
    text-align: center;
    padding: 10px;
    position: relative;
    bottom: 0;
    width: 100%;
}
@media (max-width:700px){
    .sidebar{
        width:100%;
        height:auto;
        position:relative;
    }
    .content{
        margin-left:0;
    }
    .article{
        margin-left:0;
    }
}