
*{
  margin:0;
  padding: 0;
}

nav{
  display: flex;
  gap:34px;
  background-color: black;
  color: white;
  border-radius: 3%;
}

li{
  list-style: none;
  padding: 20px;
  
}
a li{
  color: white;
}

.red{
  background-color: red ;
  color: white;
}